body{
margin:0;
font-family:Arial;
background:#0f0f0f;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:20px 40px;
background:black;
position:sticky;
top:0;
}

.logo{
font-size:24px;
color:#d4af37;
font-weight:bold;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

.hero{
height:80vh;
background:url('https://images.unsplash.com/photo-1503341455253-b2e723bb3dbb?q=80&w=1600') center/cover;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:60px;
color:#d4af37;
}

.btn{
display:inline-block;
margin-top:20px;
padding:15px 30px;
background:#d4af37;
color:black;
text-decoration:none;
font-weight:bold;
transition:0.3s;
}

.btn:hover{
background:white;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:40px;
}

.card img{
width:100%;
height:300px;
object-fit:cover;
transition:0.4s;
}

.card img:hover{
transform:scale(1.05);
}

.product{
display:flex;
padding:60px;
gap:40px;
}

.product img{
width:50%;
}

footer{
padding:30px;
text-align:center;
background:black;
}
